<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Source code link and more</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> Link to source code repo: https://github.com/fromzerotosubzero/S_test </h1>
  <h2> Ports that are available on the host: </h2>
  <object width="300" height="300" type="text/plain" data="/var/www/html/ports.txt" border="0" >
  </object>
</html>
